*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --teal: rgb(144, 233, 222);
    --navy: rgb(2, 2, 143);
    --cream-of-peach: rgb(193, 178, 164);
    --grey: rgb(98, 94, 94);
}

body {
    font-family: 'Cormorant+Garamond', 'Quicksand';
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300&family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Cormorant+Garamond', 'Quicksand';
    text-align: center;
    background-color: var(--teal);
}

h2 {
    color: var(--cream-of-peach);
}